<!-- header.html -->

<!-- header.html -->
{% load static %}
{% if request.path == '/'%}{#ffffff#}
<div class='well'>
    <br>
    <h1 style="font-family:微軟正黑體; font-weight: bold;color:#5d3333 ; font-size: 50px;"><center>　　米奇不妙屋<img src="{% static "images/9.png" %}" height="125"></center></h1>
    <h5  style="font-family:微軟正黑體;color:#4d2a2a;"><center>11056021李恩、11056030蔡依恬、11056039吳怡萱</center></h5>
    <br>
    <h5  style="font-family:微軟正黑體;color:rgb(136, 126, 124);">
    <marquee>Miska Moska 米老鼠!　歡迎光臨米奇不妙屋!我們是一個充滿魔法和冒險的地方，擁有豐富的圖書和知識等待著您的探索。無論您是一位年幼的讀者還是一位資深的知識追求者，我們都有適合您的書籍和資源-您可以在這裡沉浸在故事的世界中，學習新技能，解開謎題，並與其他書迷分享您的經驗。不論您是來尋找答案還是放鬆心靈，米奇不妙屋都歡迎您，期待與您一同開啟新的冒險旅程。讓我們一同探索知識的奧秘吧!</marquee>
    <P ALIGN="left"> <img src="{% static "images/3.jpg" %}" width="100%">
</div>
{%endif%}