
<!-- index.html -->
{% extends 'base copy.html' %}
{% block title %} 圖書館 {% endblock %}
{% block headmessage %} 

    <h3 style='font-family:標楷體;'><center>本館藏書</center></a>
{% endblock %}
{% block content %} 
{% for post in posts %}
<center>
    <div class='card' > 
        <div class='card-header'>
            <img src="{{ post.image_url }}" alt="Image Description" width="150">
            <p style='font-family:標楷體;font-size:14pt;font-weight:bold;font-color:#cccccc;'>
                <a href='/post/{{post.slug}}'>{{ post.title }}</a>
                <a href='/post/{{post.slug}}' style="margin-left: 10px">{{post.formatted_is_borrow|safe}}</a>
            </p>
        <div class='card-footer'  style='background-color:#efefef'>
            <p>
                上架時間：{{ post.pub_date | date:"Y/m/d"}}
            </p>
        </div>
    </div>
    <br>
</center>
    {% endfor %}
{% endblock %}

