
<!-- index.html -->
{% extends 'base copy.html' %}
{% block title %} 圖書借閱排行 {% endblock %}
{% block headmessage %} 

    <h3 style='font-family:標楷體;'><center>好書推薦</center></a>
{% endblock %}
{% block content %} 
{% for post in posts %}
<center>
    <div class='card' > 
        <div class='card-header'>
            <p style='font-family:標楷體;font-size:14pt;font-weight:bold;font-color:#cccccc;'>
                <a href='/post/{{post.slug}}'>{{ post.title }}</a>
            </p>
        </div>
        <div class='card-body' style='background-color:rgb(213, 225, 245)'>
            <p>
            {{ post.body | truncatechars:40 }}
            </p>
        </div>
        <div class='card-footer'  style='background-color:#efefef'>
            <p>
                上架時間：{{ post.pub_date | date:"Y/m/d"}}
            </p>
        </div>
    </div>
    <br>
</center>
    {% endfor %}
{% endblock %}

