{% extends 'base.html' %}
{% block title %} {{ post.title }} - 書籍介紹 {% endblock %}
{% block headmessage %}
    <div class="card" style="background-color: rgba(199, 166, 166, 0.849); text-align: center;">
        <h3 style="font-size: 27pt;border: 3px solid #c2bcbc7a;font-family: 微軟正黑體; color: #ffffff; margin: 0; padding: 10px; display: flex; justify-content: center; align-items: center;">
            <span>書 本 詳 情</span>
           
            <a class="btn btn-sm btn-outline-primary" style="background-color: #c48888; border: none; width: 100px; height: 50px; color: #ffffff; font-size: 24px; align-self: flex-start; margin-left: 2em;" href='/'>回首頁</a>
        </h3>
    </div>
{% endblock %}
{% block content %} 
    
    <p style='font-family:微軟正黑體; font-size: 12pt; letter-spacing: 2pt;'>
        <style>
            .image-container {
                border: 3px solid #715f5f7a; /* 2像素宽的黑色边框 */
                padding: 10px; /* 可选的内边距，根据需要进行调整 */
                display: inline-block; /* 使图像和边框都在同一行内 */
                margin-top: 50px; /* 上边距，调整以控制图像容器与周围元素的距离 */
                margin-right: 70px; /* 添加右侧外边距，调整以控制图像容器与右侧元素的距离 */
                margin-left: 70px; /* 添加左侧外边距，调整以控制图像容器与左侧元素的距离 */
                border-radius: 20px; /* 圆角半径，根据需要进行调整 */
            }
            
        </style>
        
        <div id="content-container" style='font-family:微軟正黑體; font-size: 14pt;'>
            {{ post.body | safe }}
        </div>
        <script>
            var contentContainer = document.getElementById('content-container');
            var images = contentContainer.getElementsByTagName('img');
        
            for (var i = 0; i < images.length; i++) {
                var image = images[i];
                var imageContainer = document.createElement('div');
                imageContainer.classList.add('image-container');
                image.parentNode.insertBefore(imageContainer, image);
                imageContainer.appendChild(image);
            }
        </script>
        <style>
            .btn-go-borrow {
                align-self: flex-start;
                background-color: rgba(131, 197, 209, 0.849);
                border: none;
                margin-left: 190px; /* 调整这个值以设置左边距 */
            }
        </style>
        
        <br>
        
        
        <!--
        <div style="display: flex; align-items: flex-start;">
            <a href="{% url 'book_list' %}" class="btn btn-primary" style="align-self: flex-start;background-color: rgba(131, 197, 209, 0.849); border: none;">去借書</a>
        </div>-->
    </p>
    
{% endblock %}
